<div>

    <mat-card>

        <h3>My clinical trials</h3>

        <table mat-table matSort
               [dataSource]="dataSource"
               (matSortChange)="handleSortData($event)"
               [matSortActive]="sortProperty"
               [matSortDirection]="sortDirection">

            <!-- Clinical Trial Name -->
            <ng-container matColumnDef="name">
                <th width="50%" mat-header-cell *matHeaderCellDef mat-sort-header> Trial Name </th>
                <td class="element-name" mat-cell *matCellDef="let element">
                    {{element.name}}
                    <br>
                    <div class="element-nctnumber"> {{element.nctNumber}} </div>
                </td>
            </ng-container>

            <!-- Clinical Site Location -->
            <ng-container matColumnDef="siteLocation">
                <th width="35%" mat-header-cell *matHeaderCellDef> Site </th>
                <td class="element-name" mat-cell *matCellDef="let element">
                    {{element.clinicalSite.address.location.description}}
                    <br>
                    <div class="element-distmiles" *ngIf="element.travDistMiles">
                        {{(element.travDistMiles * 1.60934) | number: '1.2-2'}} km
                    </div>
                </td>
            </ng-container>

            <!-- Learn More Button -->
            <ng-container matColumnDef="viewMore" stickyEnd>
                <th width="15%" mat-header-cell *matHeaderCellDef></th>
                <td class="col-btn" mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="viewMorePressed(element.id); false"  class="btn btn-default"
                    color="accent" class="btn-block">VIEW</button>
                </td>
              </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="getNext($event)">
        </mat-paginator>

    </mat-card>

    <div class="new-flow">
        <button mat-button [routerLink]="'/clinicaltrial-new-flow-start'">Add a new trial</button>
        <button mat-fab [routerLink]="'/clinicaltrial-new-flow-start'">
            <mat-icon>add</mat-icon>
        </button>
      </div>

</div>
