<div>

    <mat-card style="margin-top: 40px; margin-bottom: 40px; margin-left: 120px; margin-right: 120px;">

        <h3 style="margin-left: 15px; margin-top: 15px;">My clinical trials</h3>

        <table mat-table [dataSource]="dataSource">

            <!-- Clinical Trial Name -->
            <ng-container matColumnDef="trialName">
                <th width="50%" mat-header-cell *matHeaderCellDef> Trial Name </th>
                <td mat-cell *matCellDef="let element" style="padding-right: 20px; vertical-align:top;">
                    {{element.name}} 
                    <br>
                    <div style="color: lightgrey; padding-top: 10px;"> {{element.nctNumber}} </div>
                </td>
            </ng-container>

            <!-- Clinical Site Location -->
            <ng-container matColumnDef="siteLocation">
                <th width="35%" mat-header-cell *matHeaderCellDef>  Site </th>
                <td mat-cell *matCellDef="let element" style="padding-right: 20px; vertical-align:top;"> 
                    {{element.clinicalSite.address.location.description}} 
                    <br> 
                    <div *ngIf="element.travDistMiles" style="color: lightgrey; padding-top: 5px;">
                        {{(element.travDistMiles * 1.60934) | number: '1.2-2'}} km
                    </div>
                </td>
            </ng-container>

            <!-- Learn More Button -->
            <ng-container matColumnDef="viewMore" stickyEnd>
                <th width="15%" mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="text-align: right; justify-content: flex-end;">
                    <button mat-flat-button (click)="viewMorePressed(element.id); false"  class="btn btn-default"
                    style="box-shadow: 0px 3px 1px #bebebe; width: 130px; background-color: #e3eafd; color: #2096f3; font-size: 14px; height: 40px; vertical-align:top;"
                    color="accent" class="btn-block">VIEW</button>
                </td>
              </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="getNext($event)">
        </mat-paginator>

    </mat-card>

    <div style="padding-bottom: 40px; margin-right: 120px; float: right;">
        <button mat-button [routerLink]="'/clinicaltrial-new'" style="color: #2096f3; font-size: large;">Add a new trial</button>
        <button mat-fab [routerLink]="'/clinicaltrial-new'" style="background-color: #2096f3;">
            <mat-icon>add</mat-icon>
        </button>
      </div>

</div>