<h3>Top Locales</h3>
<div class="grid grid-pad">
  <a *ngFor="let locale of locales" class="col-1-4"
    routerLink="/locale/{{locale.code}}">
    <div class="module locale">
      <h4>{{locale.code}}</h4>
    </div>
  </a>
</div>
<app-locale-search></app-locale-search>

<h3>Dashboard of Clinical Trials...</h3>
<div class="grid grid-pad">
    <a *ngFor="let arc of arcCollection" class="col-1-4" routerLink="/appresource/{{arc.id}}">
    <div class="module appresource">
      <h4>{{arc.id}} {{arc.key}} {{arc.value}}</h4>
    </div>
  </a>
</div>

<app-appresource-search></app-appresource-search>