<div class="intro-group">
    <div class="breadcrumb">
        <button class="breadcrumb-btn" mat-button (click)="onNavigateToBrowse()">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 13L1 7L7 1" stroke="#2196F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Browse Trials
        </button>
        <button class="breadcrumb-btn" *ngIf="!ctrId" mat-button disabled>/ Add a new trial</button>
        <button class="breadcrumb-btn breadcrumb-btn--mod" *ngIf="ctrId" mat-button (click)="onBack()">
            / Trial details</button>
        <button class="breadcrumb-btn breadcrumb-btn--mod" *ngIf="ctrId" mat-button (click)="onBack()">
            {{ctr.name}}
        </button>
        <button class="breadcrumb-btn breadcrumb-btn--mod" *ngIf="ctrId" mat-button (click)="onBack()">
            {{ctr.nctNumber}}
        </button>
        <button class="breadcrumb-btn" *ngIf="ctrId" mat-button disabled>
            / Edit trial
        </button>
    </div>
    <span>Please fill out the trial fields and press {{ btnSubmit }}.</span>
</div>

<form (ngSubmit)="onSubmit()" #ctrForm="ngForm" class="ct-detail-edit">
    <div class="row">
        <div class="column">
            <!-- Clinical Trial Name -->
            <mat-card class="box">
                <mat-card-title class="sectionHeadersTitle">Trial details</mat-card-title>
                <mat-divider></mat-divider>
                <div class="box-items">
                    <!-- Clinical Trial Name -->
                <mat-card-header class="trialDetailHeader">
                    <div mat-card-avatar><img class="trialDetailImageIcon" src="../backoffice/assets/trialNameIcon.png"
                            alt="Clinical trial name">
                    </div>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput name="name" [(ngModel)]="ctr.name" type="text" required
                            placeholder="Ex. Safety and Efficacy of drug-06650833 In Subjects With Rheumatoid Arthritis, With An Inadequate Response to Methotrexate" />
                    </mat-form-field>
                </mat-card-header>
                <mat-card-header>
                    <mat-form-field style="margin-left: 2.4em;">
                        <mat-label>NCT Number</mat-label>
                        <input matInput name="nctNumber" [(ngModel)]="ctr.nctNumber" type="text"
                            placeholder="Ex. NCT12345678" />
                    </mat-form-field>
                </mat-card-header>
                <!-- Condition -->
                <mat-card-header class="trialDetailHeader">
                    <div mat-card-avatar><img class="trialDetailImageIcon" src="../backoffice/assets/conditionIcon.png"
                            alt="Condition">
                    </div>
                    <mat-form-field>
                        <mat-label class="required">Condition</mat-label>
                        <mat-select name="medicalCondition"[(ngModel)]="mcCode" required>
                            <mat-option *ngFor="let mc of mcCollection" [value]="mc.code">
                                {{mc.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-header>
                <mat-card-subtitle class="sub-mod">Only one condition supported on this tool. Please ask a technician to add more conditions.
                    Only conditions that have a set of questions associated are acceptable.
                </mat-card-subtitle>
                <!-- Purpose -->
                <mat-card-header class="trialDetailHeader">
                    <div mat-card-avatar><img class="trialDetailImageIcon" src="../backoffice/assets/purposeIcon.png"
                            alt="Purpose">
                    </div>
                    <mat-form-field>
                        <mat-label>Purpose</mat-label>
                        <textarea matInput name="purpose" [(ngModel)]="ctr.purpose" 
                            placeholder="Ex. To assess the efficacy and safety of drug-0665083 at Week 12 in subjects with moderate to severe, active, rheumathoid arthritis."></textarea>
                    </mat-form-field>
                </mat-card-header>
                <!-- Phase -->
                <mat-card-header class="trialDetailHeader">
                    <div mat-card-avatar><img class="trialDetailImageIcon" src="../backoffice/assets/phaseIcon.png"
                            alt="Phase">
                    </div>
                    <mat-form-field>
                        <mat-label>Phase</mat-label>
                        <input matInput name="phase" [(ngModel)]="ctr.phase" type="text"
                            placeholder="Ex. Phase II Clinical Trial." />
                    </mat-form-field>
                </mat-card-header>
                <!-- Time commitment -->
                <mat-card-header class="trialDetailHeader">
                    <div mat-card-avatar><img class="trialDetailImageIcon"
                            src="../backoffice/assets/timeCommitmentIcon.png" alt="Time commitment">
                    </div>
                    <mat-form-field>
                        <mat-label>Time commitment</mat-label>
                        <input matInput name="timeCommitment" [(ngModel)]="ctr.timeCommitment" type="text"
                            placeholder="Ex. Up to 2 hours per week" />
                    </mat-form-field>
                </mat-card-header>
                <!-- Physical commitment -->
                <mat-card-header class="trialDetailHeader">
                    <div mat-card-avatar><img class="trialDetailImageIcon"
                            src="../backoffice/assets/physicalCommitmentIcon.png" alt="Physical commitment">
                    </div>
                    <mat-form-field>
                        <mat-label>Physical commitment</mat-label>
                        <input matInput name="physicalCommitment" [(ngModel)]="ctr.physicalCommitment"type="text"
                            placeholder="Ex. Weekly check in to the site" />
                    </mat-form-field>
                </mat-card-header>
                <!-- Travel stipends provided -->
                <mat-card-header class="trialDetailHeader">
                    <div mat-card-avatar><img class="trialDetailImageIcon"
                            src="../backoffice/assets/travelStipendsProvidedIcon.png" alt="Travel stipends provided">
                    </div>
                    <mat-form-field>
                        <mat-label>Travel stipends provided</mat-label>
                        <input matInput name="travelStipends" [(ngModel)]="ctr.travelStipends" type="text"
                            placeholder="Ex. Weekly check in to the site" />
                    </mat-form-field>
                </mat-card-header>
                <!-- Sponsors -->
                <mat-card-header class="trialDetailHeader">
                    <div mat-card-avatar><img class="trialDetailImageIcon" src="../backoffice/assets/sponsorsIcon.png"
                            alt="Sponsors">
                    </div>
                    <div>
                        <mat-card-title>Sponsors</mat-card-title>
                        <mat-card-subtitle class="trialDetailSubtitle">{{ctr.sponsor?.name}}</mat-card-subtitle>
                    </div>
                </mat-card-header>
                </div>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="rightSideBox">
                <mat-card-title class="sectionHeadersTitle">Eligibility criteria</mat-card-title>
                <mat-divider></mat-divider>
                <!-- Eligibility Criteria -->
                <mat-card-subtitle  class="rs-subtitle">
                    The eligibility criteria text will be generated when you specify the criteria labels.
                </mat-card-subtitle>
            </mat-card>

            <mat-card class="rightSideBox">
                <mat-card-title class="sectionHeadersTitle">Sites</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label class="required">Site name</mat-label>
                        <mat-select [(ngModel)]="ctr.clinicalSite.id" name="clinicalSite" required>
                            <mat-option *ngFor="let cs of csCollection" [value]="cs.id">
                                {{cs.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="ctr.status.code" name="status" required>
                            <mat-option *ngFor="let ctrs of ctrsCollection" [value]="ctrs.code">
                                {{ctrs.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-subtitle>Only one site supported on the current version. (To simulate multiple sites you can
                    create multiple trials for the same condition.). Each site must review the trial and promote the
                    status to "Recruitment".</mat-card-subtitle>
            </mat-card>
        </div>
    </div>

    <div class="advice"><span>*</span> indicates a required field.</div>

    
    <div class="error"
         *ngIf="error">
        {{error}}
    </div>
    
    <div class="btn-group">
        <button mat-flat-button (click)="onBack(); false">BACK</button>
        <button mat-flat-button type="submit"
                class="save"
                [disabled]="!ctrForm.form.valid">
            {{ btnSubmit }}</button>
        <!-- button type="submit">Save Debug</button -->
        <!-- 
        style="background-color: #1A89D0; color: #ffffff;  margin-left: min(15px, 10%); font-size: 14px; margin-right: min(15px, 10%); height: 50px; vertical-align:top;"
        -->
    </div>
</form>