<webc-container controller="ClinicalTrialInfo10Controller">
  <!-- ion-title class="ctrtitle">{{ @title }}</ion-title -->
  
  <ion-card style="padding: 1em;">
    <ion-card-title>{{ @ctr.name }}</ion-card-title>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="padding: 1em;">
          <ion-card-title>Trial details</ion-card-title>
        </ion-card>
        <ion-card style="padding: 1em;">
          <ion-card-title><ion-icon name="search-outline" size="large"></ion-icon>Clinical trial name</ion-card-title>
          <ion-card-content>{{ @ctr.name }}</ion-card-content>
          <ion-card-title><ion-icon name="alert-outline" size="large"></ion-icon>Condition</ion-card-title>
          <ion-card-content>{{ @ctr.clinicalTrialMedicalConditions.0.medicalCondition.name }}</ion-card-content>
          <div data-if="@ctr.purpose">
            <ion-card-title><ion-icon name="star-outline" size="large"></ion-icon>Purpose</ion-card-title>
            <ion-card-content>{{ @ctr.purpose }}</ion-card-content>
          </div>
          <div data-if="@ctr.phase">
            <ion-card-title><ion-icon name="sync-outline" size="large"></ion-icon>Phase</ion-card-title>
            <ion-card-content>{{ @ctr.phase }}</ion-card-content>
          </div>
          <div data-if="@ctr.timeCommitment">
            <ion-card-title><ion-icon name="time-outline" size="large"></ion-icon>Time Commitment</ion-card-title>
            <ion-card-content>{{ @ctr.timeCommitment }}</ion-card-content>
          </div>
          <div data-if="@ctr.physicalCommitment">
            <ion-card-title><ion-icon name="person-outline" size="large"></ion-icon>Phisical Commitment</ion-card-title>
            <ion-card-content>{{ @ctr.physicalCommitment }}</ion-card-content>
          </div>
          <div data-if="@ctr.travelStipends">
            <ion-card-title><ion-icon name="car-outline" size="large"></ion-icon>Travel Stipends</ion-card-title>
            <ion-card-content>{{ @ctr.travelStipends }}</ion-card-content>
          </div>
          <ion-card-title><ion-icon name="medal-outline" size="large"></ion-icon>Sponsors</ion-card-title>
          <ion-card-content>{{ @ctr.sponsor.name }}</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card id="eligibilityWrapper" style="padding: 1em;">
          <ion-card-title>Key eligibility criteria</ion-card-title>
          <ion-card-content id="eligibilityCriteria"><!-- innerHTML set to @ctr.eligibilityCriteria by the controller --></ion-card-content>
        </ion-card>
        <ion-card style="padding: 1em;">
          <ion-card-title>We need more information</ion-card-title>
          <ion-card-content>To make sure that this trial is a good fit
            for you, we need you to answer a few last questions.</ion-card-content>
          <ion-card-content class="ion-text-center"><ion-button data-tag="apply">Pre-Screening Questions(NOT WORKING)</ion-button></ion-card-content>
        </ion-card>
        <ion-card style="padding: 1em;">
          <ion-card-title>Sites</ion-card-title>
          <ion-card-content>
            <div id="clinical-site-map" style="height: 250px;"> <!-- Map is rendered here--> </div>
            <strong>{{ @ctr.clinicalSite.name }}</strong>
          <br>{{ @ctr.clinicalSite.address.street }}
          <br>{{ @ctr.clinicalSite.address.country.name }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</webc-container>
