<ion-content class="tab-content" overflow-scroll="true" fullscreen="false">
<webc-container controller="DashboardController" translations="true">
    Dashboard with many lines to show problem that the webc-container grows to the height needed, withput scrollbar.
    <p>line1</p>
    <p>line2</p>
    <p>line3</p>
    <p>line4</p>
    <p>line5</p>
    <ol>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ol>
    <ul>
        <li>+Item</li>
        <li>+Item</li>
        <li>+Item</li>
        <li>+Item</li>
        <li>+Item</li>
        <li>+Item</li>
        <li>+Item</li>
        <li>+Last Item</li>
    </ul>
    <div style="height: 4em;">&nbsp;</div><!-- workaround ion-content height overlaps bottom menu bar -->
</webc-container>
</ion-content>