<webc-container controller="DashboardController" translations="true">
    <ion-grid style="padding: 1em;">
      <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>Trials Available To You</ion-card-header>
                <ion-card-title class="ion-text-center"><ion-icon name="search-outline" size="large"></ion-icon>
                    <br />Get Matched to Clinical Trials</ion-card-title>
                <ion-card-content class="ion-text-center">Complete the pre-screening process so we can help you find a match.</ion-card-content>
                <ion-card-content class="ion-text-center"><ion-button data-tag="findatrial">Find A Trial</ion-button></ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>All Trials</ion-card-header>
                <ion-card-title class="ion-text-center"><ion-icon name="folder-open-outline" size="large"></ion-icon>
                    <br />Browse for Clinical Trials</ion-card-title>
                <ion-card-content class="ion-text-center">Curious about what trials are currently recruiting around you? Browse for trials.</ion-card-content>
                <ion-card-content class="ion-text-center"><ion-button data-tag="browsetrials">Browse Trials</ion-button></ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card style="padding: 1em;">
        <ion-card-header>Your Match Requests for trials that still need your review</ion-card-header>
        <ion-card-content>
            <ion-grid style="padding: 1em;">
                <ion-row>
                    <ion-col><ion-card-subtitle>Submitted On</ion-card-title></ion-col>
                    <ion-col><ion-card-subtitle>Condition</ion-card-title></ion-col>
                    <ion-col><ion-card-subtitle>Location</ion-card-title></ion-col>
                </ion-row>
                <div data-for="@matches">
                    <ion-row>
                        <ion-col>{{ @submittedOnStr }}</ion-col>
                        <ion-col>{{ @conditionStr }}</ion-col>
                        <ion-col>{{ @locationStr }}</ion-col>
                    </ion-row>
                </div>
            </ion-grid>            
        </ion-card-content>
    </ion-card>
</webc-container>
