<webc-container class="healthinfo" controller="HealthInfoController">
    
    <ion-title class="ctrtitle ctrtitle--mod">{{ @title }}</ion-title>

    <div id="PhiFormErrorsContainer"></div>

    <div id="PhiFormContainer"></div>

    <ion-footer class="healthinfo-footer">
        <ion-toolbar>
            <ion-buttons slot="primary">
                <ion-button name="button-submit-phi" type="submit" color="primary" data-tag="submit-phi">{{ @buttons.submit }}</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</webc-container>
