<webc-container class="healthinfo" controller="HealthInfoController">
    <div class="container">
        <ion-toolbar>
            <ion-title color="dark-gray" class="ctr-title-outside ctr-title-outside--mod ion-padding-top ion-padding-bottom">{{ @title }}</ion-title>
        </ion-toolbar>

        <div id="PhiFormErrorsContainer"></div>

        <div id="PhiFormContainer"></div>

        <ion-footer class="healthinfo-footer">
            <ion-toolbar>
                <ion-buttons slot="primary">
                    <ion-button name="button-submit-phi" type="submit" color="primary" data-tag="submit-phi">{{ @buttons.submit }}</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-footer>
    </div>
</webc-container>
