<webc-container controller="MatchRequestNew20TrialPrefsController">
    <ion-title class="ctrtitle">{{ @title }}</ion-title>

    <style>
.wizard-progress {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: relative;
}
.wizard-progress .step {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  position: relative;
  color: black;
}
.wizard-progress .step:not(:last-child):before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 3.2em;
  background-color: lightgrey;
  height: 0.2em;
  width: 100%;
}
.wizard-progress .step .node {
  font-size: small;
  display: inline-block;
  border: 0.2em solid white;
  border-color: lightgrey;
  background-color: white;
  border-radius: 1.5em;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  top: 3.1em;
  left: 50%;
  margin-left: -1em;
}
.wizard-progress .step.complete:before {
  background-color: #26a27d;
}
.wizard-progress .step.complete .node {
  color: white;
  border-color: #26a27d;
  background-color: #26a27d;
}
.wizard-progress .step.complete .node:before {
  font-family: FontAwesome;
  content: "✓";
}
.wizard-progress .step.in-progress:before {
  /* background: $mainColor; */
}
.wizard-progress .step.in-progress .node {
  border-color: #26a27d;
}
    </style>
    <div class="wizard-progress">
      <div class="step complete">
          General Health Information
          <div class="node"></div>
      </div>
      <div class="step in-progress">
          Trial Preference
          <div class="node">2</div>
      </div>
      <div class="step">
          Condition Specific Questions
          <div class="node">3</div>
      </div>
      <div class="step">
          Trial Specific Questions
          <div class="node">4</div>
      </div>
  </div>

    <div style="height: 3em;">&nbsp;</div>
    
    <div id="FormErrorsContainer"></div>

    <div id="FormContainer"></div>

    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="primary">
                <ion-button name="button-submit-tpr" type="submit" color="primary" data-tag="submit-tpr">{{ @buttons.submit }}</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</webc-container>
