<webc-container class="matchnew" controller="MatchRequestNew10GeneralController">

    <step-progress-bar header="@title" progress-steps="@progressStepsStr"></step-progress-bar>

  <!-- <div style="height: 3em;">&nbsp;</div> -->
    
  <div id="FormErrorsContainer"></div>

  <div id="FormContainer"></div>

  <div class="advice"><span>*</span> Indicates required fields.</div>

  <ion-footer class="match-footer">
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button name="button-submit-ghi" type="submit" color="primary" data-tag="submit-ghi">{{ @buttons.submit }}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</webc-container>




