<webc-container controller="MatchRequestNew40TrialController">

    <step-progress-bar header="@title" progress-steps="@progressStepsStr" clickable-node="true"></step-progress-bar>

    <div id="FormErrorsContainer"></div>

    <div id="FormContainer"></div>

    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="primary">
                <ion-button name="button-submit-tpr" type="submit" color="primary" data-tag="submit-tpr">{{ @buttons.submit }}</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</webc-container>
