<webc-container controller="MatchInfo20Controller">
  <!-- ion-title class="ctrtitle">{{ @title }}</ion-title -->
  
  <ion-card class="ion-padding ctr-name">
    <ion-card-title color="dark-gray">{{ @ctr.name }}</ion-card-title>
  </ion-card>

  <ion-grid class="ion-margin">
    <ion-row class="custom-row">
      <ion-col class="custom-col">

        <ion-card id="info20topCard" class="ion-padding" color="white">
          <ion-card-title>Are you interested in this trial?</ion-card-title>
          <ion-card-content>Based on your health history, we think that you qualify for the clinical trial below.</ion-card-content>
          <ion-card-content>The next step for you would be to talk to the reasearchers leading that clinical trial.
            You'll have an opportunity to ask any questions you have then and they'll schedule an in-person visit if that is needed.
          </ion-card-content>
          <ion-card-content>Would you like to be put in touch with the researchers for this clinical trial to dicuss enrollment ?
          </ion-card-content>
          <ion-card-content class="ion-text-center">
            <p>{{ @disableClinicalContactReason }}</p>
            <div data-if="@singleSiteFlag"><contact-clinical-site-button button-label="Contact Clinical Site" patient-identity="@patientIdentity" disabled-contact="@disableClinicalContact" clinical-site="@clinicalSite"></contact-clinical-site-button></div>
            <div data-if="@multiSiteEnabledFlag"><a href="#info20firstSite"><ion-button color="light-blue">Contact Clinical Site (Choose)</ion-button></a></div>
            <div data-if="@multiSiteDisabledFlag"><ion-button color="light-blue" disabled>Contact Clinical Site (Choose)</ion-button></div>
            <br>
            ---- OR ----
            <br>
            <ion-button data-tag="goback" color="light-blue">Go back to list of potential trials</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card class="ion-padding" color="white">
          <ion-card-title class="title-card-top">Trial details</ion-card-title>
          <hr>

          <div class="card-group ion-margin-top">
            <img class="ion-padding-left" src="assets/images/trialNameIcon.png" alt="">
            <div class="card-group-content">
              <ion-card-title color="dark-gray">Clinical trial name</ion-card-title>
              <ion-card-content color="gray">{{ @ctr.name }}</ion-card-content>
            </div>
          </div>
            
          <div class="card-group">
            <img class="ion-padding-left" src="assets/images/conditionIcon.png" alt="">
            <div class="card-group-content">
              <ion-card-title color="dark-gray">Condition</ion-card-title> 
              <div class="card-loop" data-for="@ctr.clinicalTrialMedicalConditions">
                <ion-card-content color="gray" class="ion-margin-left">{{ @medicalCondition.name }}</ion-card-content>
              </div>
            </div>
          </div>

          <div class="card-group">
            <img class="ion-padding-left" src="assets/images/sponsorsIcon.png" alt="">
            <div class="card-group-content">
              <ion-card-title color="dark-gray">Sponsors</ion-card-title> 
              <ion-card-content color="gray">{{ @ctr.sponsor.name }}</ion-card-content>
            </div>
          </div>

          <div class="card-group" data-if="@ctr.purpose">
            <img class="ion-padding-left" src="assets/images/purposeIcon.png" alt="">
            <div class="card-group-content">
              <ion-card-title color="dark-gray">Purpose</ion-card-title> 
              <div class="card-loop">
                <ion-card-content color="gray" class="ion-margin-left">{{ @ctr.purpose }}</ion-card-content>
              </div>
            </div>
          </div>
          
          <div class="card-group" data-if="@ctr.phase">
            <img class="ion-padding-left" src="assets/images/phaseIcon.png" alt="">
            <div class="card-group-content">
              <ion-card-title color="dark-gray">Phase</ion-card-title> 
              <div class="card-loop">
                <ion-card-content color="gray" class="ion-margin-left">{{ @ctr.phase }}</ion-card-content>
              </div>
            </div>
          </div>

          <div class="card-group" data-if="@ctr.timeCommitment">
            <img class="ion-padding-left" src="assets/images/timeCommitmentIcon.png" alt="">
            <div class="card-group-content">
              <ion-card-title color="dark-gray">Time Commitment</ion-card-title> 
              <div class="card-loop">
                <ion-card-content color="gray" class="ion-margin-left">{{ @ctr.timeCommitment }}</ion-card-content>
              </div>
            </div>
          </div>

          <div class="card-group" data-if="@ctr.physicalCommitment">
            <img class="ion-padding-left" src="assets/images/physicalCommitmentIcon.png" alt="">
            <div class="card-group-content">
              <ion-card-title color="dark-gray">Physical Commitment</ion-card-title> 
              <div class="card-loop">
                <ion-card-content color="gray" class="ion-margin-left">{{ @ctr.physicalCommitment }}</ion-card-content>
              </div>
            </div>
          </div>

          <div class="card-group" data-if="@ctr.travelStipends">
            <img class="ion-padding-left" src="assets/images/travelStipendsProvidedIcon.png" alt="">
            <div class="card-group-content">
              <ion-card-title color="dark-gray">Travel Stipends</ion-card-title> 
              <div class="card-loop">
                <ion-card-content color="gray" class="ion-margin-left">{{ @ctr.travelStipends }}</ion-card-content>
              </div>
            </div>
          </div>
          
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">

        <ion-card class="ion-padding" color="white">
          <ion-card-title>Your match to this trial</ion-card-title>
          <hr>
          <ion-card-content class="circle" style="@matchStyle">
            <h2>Match confidence Score</h2>
            <svg class="circle-score" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
              <circle class="circle-score__background" stroke="#efefef" stroke-width="2.5" fill="none" cx="16.91549431" cy="16.91549431" r="14.91549431" />
              <circle id="matchConfidenceDonut" class="circle-score__circle" stroke="#33D69F" stroke-width="2.5" stroke-dasharray="80,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="14.91549431" />
              <g class="circle-score__info">
                <text class="circle-score__percent" x="16.91549431" y="16.8" alignment-baseline="central" text-anchor="middle" font-size="5">{{ @mtct.matchConfidenceToDisplay }}%</text> 
              </g>
            </svg>
          </ion-card-content>
          <ion-card-content style="@noMatchStyle">
            <h2>No match!</h2>
          </ion-card-content>
          <ion-card-content id="eligibilityCriteria"><!-- innerHTML set to @mtct.criteriaExplained by the controller -->View all Eligibility Criterias (NOT WORKING)</ion-card-content>
        </ion-card>

        <ion-card class="ion-padding" color="white">
          <ion-card-title color="dark-gray" class="title-card-top">Sites</ion-card-title>
          <hr>
          <ion-card-content>

            <leaflet-street-map
                    map-container-id="match-info-map"
                    data-source="@mapDataSource"
                    map-options="@mapOptions"
            >
            </leaflet-street-map>
          </ion-card-content>

          <div id="info20firstSite"></div>
          <ion-card-content data-for="@ctr.clinicalSites">
            <div class="card-map">
              <div class="card-map-title" color="dark-gray">{{ @name }}</div>
              <div class="card-map-address" color="gray">{{ @address.street }}</div>
              <div class="card-map-country" color="gray">{{ @address.country.name }}</div>
              <div data-if="@address.location.travDistKm"><div class="card-map-travel">{{ @address.location.travDistKm }}&nbsp;km</div></div>
              <div data-if="@clinicalSiteDisplayContact">
                <contact-clinical-site-button button-label="Contact Clinical Site" patient-identity="@patientIdentity" disabled-contact="@disableClinicalContact" clinical-site="@clinicalSite"></contact-clinical-site-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>
</webc-container>
