/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.mat-toolbar {
  height: 80px;
  position: relative;
  background-color: white;
  color: navy;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.sidenav-container {
  z-index: 0 !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.username-box {
  display: block;
  padding-left: 1em;
  padding-bottom: 1em;
}

.username {
  font-size: smaller; height: 1em;
}

.timestamp {
  font-size: x-small; height: 0.9em;
}

.version {
  font-size: xx-small; height: 0.8em;
}