<!-- <mat-toolbar color="#ffff" [ngClass]="{'app-header': authService.isLoggedOut()}">
    <button mat-icon-button *ngIf="authService.isLoggedIn()">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <div *ngIf="!authService.isLoggedOut()">
      <div><h1>{{title}}</h1></div>
    </div>
    <div *ngIf="authService.isLoggedOut()">
      <div><img style="height: 40px;" src="../backoffice/assets/pharmaledgerLogo.png"></div>
      <span class="example-spacer"></span>
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button color="accent" routerLink="register" routerLinkActive="active">Sign Up</a>
    </div>
    <div *ngIf="authService.isLoggedIn()"></div>

</mat-toolbar> -->
<mat-toolbar color="#ffff" [ngClass]="{'app-header': authService.isLoggedOut()}">
  <button mat-icon-button *ngIf="authService.isLoggedIn()">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <div *ngIf="!authService.isLoggedOut()">
    
  </div>
  <img style="margin-left:10px; height: 60px;" src="../backoffice/assets/pharmaledgerLogo.png">
  <div><h1>{{title}}</h1></div>
  
  <span class="example-spacer"></span>
  <a mat-button routerLink="login" routerLinkActive="active" *ngIf="authService.isLoggedOut()">Log in</a>
  <a mat-button mat-raised-button style="color: white;" color="accent" routerLink="register" routerLinkActive="active">Sign Up</a>
  <div *ngIf="authService.isLoggedIn()" class="username-box">
    <div class="username">{{authService.getUsername()}}</div>
    <div class="timestamp">{{sideTime.toISOString()}}</div>
    <div class="version">v{{v.version}}-{{v.hash}}</div>
  </div>
  <a mat-button *ngIf="authService.isLoggedIn()" (click)="logout()" routerLink="/login">Log out</a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" style="height: 91%;">
  <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpened" style="padding: 5px; width: 14em;">
    <mat-accordion [multi]="false">
      <mat-expansion-panel *ngIf="authService.hasPhysicianProfile()" [expanded]="sideNavMenu1Item=='physician'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Physician
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option [selected]="sideNavMenu1Item=='physician' && sideNavMenu2Item=='dashboard'">
            <a mat-list-item routerLink="/physician">Dashboard</a>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="authService.hasSiteProfile()" [expanded]="sideNavMenu1Item=='site'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Site
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option [selected]="sideNavMenu1Item=='site' && sideNavMenu2Item=='dashboard'">
            <a mat-list-item routerLink="/site">Dashboard</a>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="authService.hasSponsorProfile()" [expanded]="sideNavMenu1Item=='sponsor'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sponsor
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option [selected]="sideNavMenu1Item=='sponsor' && sideNavMenu2Item=='dashboard'">
            <a mat-list-item routerLink="/sponsor">Dashboard</a>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="authService.hasAdminProfile()" [expanded]="sideNavMenu1Item=='admin'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Administration
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option [selected]="sideNavMenu1Item=='admin' && sideNavMenu2Item=='dashboard'">
            <a mat-list-item routerLink="/dashboard">Dashboard</a>
          </mat-list-option>
          <mat-list-option [selected]="sideNavMenu1Item=='admin' && sideNavMenu2Item=='locale'">
            <a mat-list-item routerLink="/locales">Locales</a>
          </mat-list-option>
          <mat-list-option [selected]="sideNavMenu1Item=='admin' && sideNavMenu2Item=='appresource'">
            <a mat-list-item routerLink="/appresource">AppResource</a>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-selection-list [multiple]="false">
        <mat-list-option [selected]="sideNavMenu1Item=='' && sideNavMenu2Item=='login'">
          <a mat-list-item *ngIf="authService.isLoggedOut()" routerLink="/login">Login</a>
          <a mat-list-item *ngIf="authService.isLoggedIn()" (click)="logout()" routerLink="/login">Logout</a>
        </mat-list-option>
      </mat-selection-list>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 5px;">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </mat-sidenav-content>
</mat-sidenav-container>