<!-- <mat-toolbar color="#ffff" [ngClass]="{'app-header': authService.isLoggedOut()}">
    <button mat-icon-button *ngIf="authService.isLoggedIn()">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <div *ngIf="!authService.isLoggedOut()">
      <div><h1>{{title}}</h1></div>
    </div>
    <div *ngIf="authService.isLoggedOut()">
      <div><img style="height: 40px;" src="../backoffice/assets/pharmaledgerLogo.png"></div>
      <span class="example-spacer"></span>
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button color="accent" routerLink="register" routerLinkActive="active">Sign Up</a>
    </div>
    <div *ngIf="authService.isLoggedIn()"></div>

</mat-toolbar> -->
<mat-toolbar color="#ffff" [ngClass]="{'app-header': authService.isLoggedOut()}">
  <button mat-icon-button *ngIf="authService.isLoggedIn() && !authService.hasPhysicianProfile() && !authService.hasSponsorProfile()">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <div *ngIf="!authService.isLoggedOut()">

  </div>
  <div class="l-logo-group">
    <img class="l-logo" src="../backoffice/assets/pharmaledgerLogo.png">
    <div class="l-version">v{{v.version}}-{{v.hash}}, {{sideTime.toISOString()}} </div>
  </div>
  
  
  <div>
    <h1>{{title}}</h1>
  </div>

  <span class="example-spacer" *ngIf="(authService.isLoggedIn() && !authService.hasSponsorProfile()) || authService.isLoggedOut()"></span>
  <a mat-button routerLink="login" routerLinkActive="active" *ngIf="authService.isLoggedOut()">Log in</a>
  <a mat-button mat-raised-button style="color: white;" color="accent" routerLink="register" routerLinkActive="active"
    *ngIf="authService.isLoggedOut()">Sign Up</a>

    <!-- Clinical Site Header Start -->
    <mat-tab-group class="sponsorTabGroup" mat-align-tabs="start" *ngIf="authService.hasClinicalSiteProfile()" (selectedTabChange)="clinicalSiteTabFocus($event)">
      <!-- joaoluis-pdm: IMHO the control of this should go into
        the components of this profile, as this acts as a 3rd level menu
        in which options will depend on what is being done,
        ... but for now let it be as it is. -->
      <mat-tab class="sponsorTab" focus label="My Trials"></mat-tab>
      <mat-tab class="sponsorTab" label="My Referrals"></mat-tab>
    </mat-tab-group> 
    <span  *ngIf="authService.hasClinicalSiteProfile()" class="example-spacer"></span>
    <div *ngIf="authService.hasClinicalSiteProfile()" class="verticalLine">{{authService.getFullUserName()}}
      <br><span style="font-size: smaller">{{authService.getClinicalSiteName()}}</span></div>
    <!-- Clinical Site Header End -->

    <!-- Physician Header Start -->
  <mat-tab-group class="physicianTabGroup" mat-align-tabs="start" *ngIf="authService.hasPhysicianProfile()">
    <mat-tab focus label="Browse Trials"></mat-tab>
  </mat-tab-group>
  <label *ngIf="authService.isLoggedIn() && authService.hasPhysicianProfile()"
    style="font-size: small; font-weight: normal; color: black; margin-left: 25px;">{{authService.getFullUserName()}}</label>
  <div *ngIf="authService.isLoggedIn() && authService.hasPhysicianProfile()" class="verticalLine"> <img
      style="margin-left:2px; height: 50px; padding-right: 15px;" src="../backoffice/assets/placeholderUserProfile.png"
      *ngIf="authService.isLoggedIn() && authService.hasPhysicianProfile()"></div>
    <!-- Physician Header End -->

    <!-- Sponsor Header Start -->
    <mat-tab-group class="sponsorTabGroup" mat-align-tabs="start" *ngIf="authService.hasSponsorProfile()" (selectedTabChange)="sponsorTabFocus($event)">
      <!-- joaoluis-pdm: IMHO the control of this should go into
        the components of this profile, as this acts as a 3rd level menu
        in which options will depend on what is being done,
        ... but for now let it be as it is. -->
      <mat-tab class="sponsorTab" focus label="My Trials"></mat-tab>
      <mat-tab class="sponsorTab" label="My Analytics"></mat-tab>
    </mat-tab-group>
    <span  *ngIf="authService.isLoggedIn() && authService.hasSponsorProfile()" class="example-spacer"></span>
    <div *ngIf="authService.isLoggedIn() && authService.hasSponsorProfile()" class="verticalLine">
      {{authService.getFullUserName()}}
      <br>
      <img style="height: 30px;" src={{imageBaseUrl+authService.getSponsorLogoUrl()}} *ngIf="authService.isLoggedIn() && authService.hasSponsorProfile()">
    </div>
    
    <!-- Sponsor Header End -->

  <div class="username-box" *ngIf="authService.isLoggedIn() && !authService.hasClinicalSiteProfile() && !authService.hasPhysicianProfile() && !authService.hasSponsorProfile()">
    <div class="username">{{authService.getUsername()}}</div>
    <div class="timestamp">{{sideTime.toISOString()}}</div>
    <div class="version">v{{v.version}}-{{v.hash}}</div>
  </div>
  <button mat-icon-button style="color: darkgrey; margin-right: 80px; margin-left: 20px;" aria-label="Logout" (click)="logout()" routerLink="/login"  *ngIf="authService.isLoggedIn()">
    <mat-icon>logout</mat-icon>
  </button>
  <!-- <a mat-button *ngIf="authService.isLoggedIn()">Log out</a> -->
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" style="height: 89%;">
  <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpened" style="padding: 5px; width: 14em;">
    <mat-accordion [multi]="false">
      <mat-expansion-panel *ngIf="authService.hasPhysicianProfile()" [expanded]="sideNavMenu1Item=='physician'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Physician
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option [selected]="sideNavMenu1Item=='physician' && sideNavMenu2Item=='dashboard'">
            <a mat-list-item routerLink="/physician">Dashboard</a>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="authService.hasSiteProfile()" [expanded]="sideNavMenu1Item=='site'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Site
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option [selected]="sideNavMenu1Item=='site' && sideNavMenu2Item=='dashboard'">
            <a mat-list-item routerLink="/site">Dashboard</a>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="authService.hasSponsorProfile()" [expanded]="sideNavMenu1Item=='sponsor'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sponsor
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option [selected]="sideNavMenu1Item=='sponsor' && sideNavMenu2Item=='dashboard'">
            <a mat-list-item routerLink="/sponsor">Dashboard</a>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="authService.hasAdminProfile()" [expanded]="sideNavMenu1Item=='admin'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Administration
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option [selected]="sideNavMenu1Item=='admin' && sideNavMenu2Item=='dashboard'">
            <a mat-list-item routerLink="/dashboard">Dashboard</a>
          </mat-list-option>
          <mat-list-option [selected]="sideNavMenu1Item=='admin' && sideNavMenu2Item=='locale'">
            <a mat-list-item routerLink="/locales">Locales</a>
          </mat-list-option>
          <mat-list-option [selected]="sideNavMenu1Item=='admin' && sideNavMenu2Item=='appresource'">
            <a mat-list-item routerLink="/appresource">AppResource</a>
          </mat-list-option>
          <mat-list-option [selected]="sideNavMenu1Item=='admin' && sideNavMenu2Item=='matchrequest'">
            <a mat-list-item routerLink="/matchrequest">MatchRequest</a>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-selection-list [multiple]="false">
        <mat-list-option [selected]="sideNavMenu1Item=='' && sideNavMenu2Item=='login'">
          <a mat-list-item *ngIf="authService.isLoggedOut()" routerLink="/login">Login</a>
          <a mat-list-item *ngIf="authService.isLoggedIn()" (click)="logout()" routerLink="/login">Logout</a>
        </mat-list-option>
      </mat-selection-list>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 5px;">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <footer>
  <mat-toolbar class="mat-scroll-shrink">
    <div layout="row" layout-align="center center" flex>
      FOOTER INFO
    </div>
  </mat-toolbar>
</footer> -->