/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

[hidden] {
    display: none !important;
}

mat-card-title {
    text-align: left;
    font-family: 'Mulish', sans-serif;
    color: #252733;
    font-weight: 700;
    padding-bottom: 12px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;
}

mat-card-content {
    margin-top: 30px;
}

mat-error {
    padding-bottom: 1px;
}

mat-form-field {
    padding-bottom: 1px;
    margin-bottom: 5px;
    width: 100%;
}

.sign-l {
    display: flex;
    justify-content: space-between;
}
.sign-l mat-form-field {
    width: 45%;
}

@media (max-width: 540px) {
    .sign-l {
        display: flex;
        flex-direction: column;
    }
    .sign-l mat-form-field {
        width: 100%;
    }
}