<div *ngIf="mr">
<!-- div><span>keySSI: </span>{{mr.keyssi}}</div>
<div><span>Submitted On: </span>{{mr.dsuData.submittedOn}}</div>
<div><span>Received On: </span>{{mr.createdOn}}</div -->
</div>
<h2>Clinical Trials involved in the pre-screening:</h2>
<ol *ngIf="mr && mr.matchResult">
    <li *ngFor="let mtct of mr.matchResult.dsuData.trials">{{mtct.clinicalTrial.name}} {{mtct.clinicalTrial.nctNumber}} {{mtct.criteriaConfidenceCount}} / {{mtct.criteriaMatchedCount}} / {{mtct.criteriaCount}}
        <span *ngIf="mtct.criteriaMatchedCount >= mtct.criteriaCount" style="color: darkgreen;">Match confidence: {{((mtct.criteriaConfidenceCount / mtct.criteriaCount)*100.0).toFixed(1)}}%</span>
        <span *ngIf="mtct.criteriaMatchedCount < mtct.criteriaCount" style="color: darkred;">No match</span>
        <div *ngIf="mtct.criteriaExplainedS">
            Eligibility Criterias (only those with label are displayed)
            <ul [innerHTML]="mtct.criteriaExplainedS">
            </ul>
        </div>
    </li>
</ol>
<p *ngIf="mr && mr.matchResult" style="font-size: small;">( # Name NCTNumber ( criteriaConfidenceCount / criteriaMatchedCount / criteriaCount ) ; % = criteriaConfidenceCount / criteriaCount (in %) )</p>
<p *ngIf="!mr || !mr.matchResult">No MatchResult!</p>

<h2>Pre-screening forms</h2>
<!-- Why do I need to put this here ? Is there any other way to load this ? -->
<style type="text/css">   @import url("/backoffice/assets/lforms-29.0.3/styles/lforms.min.css"); </style>
<!-- nasty trick to make the form read-only - https://stackoverflow.com/questions/3507958/how-can-i-make-an-entire-html-form-readonly -->
<fieldset disabled="disabled">
<div #ghiForm></div>
<div #trialPrefs></div>
<div #condition></div>
<div #trial></div>
</fieldset>
<button (click)="goBack()">go back</button>
