<div *ngIf="mr">
<!-- div><span>keySSI: </span>{{mr.keyssi}}</div>
<div><span>Submitted On: </span>{{mr.dsuData.submittedOn}}</div>
<div><span>Received On: </span>{{mr.createdOn}}</div -->
    <div>&nbsp;</div>
</div>

<mat-card class="mat-card" *ngIf="app && mr && mr.matchResult">
    <mat-card-title>Match Score</mat-card-title>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let mtct of mr.matchResult.dsuData.trials">
        <div *ngIf="mtct.clinicalTrial.id==app.clinicalTrial.id" class="mat-card-group">
            <p><span>Clinical Trial Name:</span> {{mtct.clinicalTrial.name}}</p>
            <p><span>Clinical Trial NCT Number:</span> {{mtct.clinicalTrial.nctNumber}}</p>
            <p><span>Number of Matching Criteria Questions:</span> {{mtct.criteriaCount}}</p>
            <p><span>Number of Matched Answers:</span> {{mtct.criteriaMatchedCount}}</p>
            <p><span>Number of Matched Answers With Confidence:</span> {{mtct.criteriaConfidenceCount}}</p>
            <p><span>Match Confidence Score:</span>
                <ng-container *ngIf="mtct.criteriaMatchedCount >= mtct.criteriaCount"> {{((mtct.criteriaConfidenceCount / mtct.criteriaCount)*100.0).toFixed(1)}}%</ng-container>
                <ng-container *ngIf="mtct.criteriaMatchedCount < mtct.criteriaCount"> No match</ng-container>
            </p>
        </div>
    </ng-container>
</mat-card>

<div class="matchrequest-fieldset mtr-container">
    <!-- Why do I need to put this here ? Is there any other way to load this ? -->
    <style type="text/css"> @import url("/backoffice/assets/lforms-29.0.3/styles/lforms.min.css"); </style>
    <h2>Pre-screening forms</h2>
    <mat-divider></mat-divider>
    <fieldset disabled="disabled">
    <div #ghiForm></div>
    <div #trialPrefs></div>
    <div #condition></div>
    <div #trial></div>
    </fieldset>
</div>

<div class="mtr-container">
    <button class="mtr-button" (click)="goBack()">go back</button>
</div>