/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

.mat-card {
    padding: 0;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    box-shadow: none;
    margin: 40px auto;
    width: 1100px;
}
@media (max-width: 1200px) {
    .mat-card {
        width: 90%;
    }  
}

h3 {
    padding-top: 1em;
    padding-left: 1.2em;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.4px;
}

td {
    padding: 1em 2em !important;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
}

td .ticket {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #C5C7CD;
}

td button {
    padding: 8px 32px;
    background-color: #e3eafd;
    color: #2096f3;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
}

td:last-child {
    text-align: right;
}

th {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #9FA2B4;
}