<h2>General Health</h2>
<p>These are general health questions patients have been asked to answer. Please indicate acceptable answers for your trial's requirements</p>
<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div *ngFor="let qt of qtArray" class="form-row">
        <app-question-criteria [qt]="qt" [form]="form"></app-question-criteria>
      </div>
  
      <div class="form-row">
        <!-- button type="submit" [disabled]="!form.valid">Save</button -->
        <button type="submit">Save</button>
      </div>
    </form>
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
</div>