<mat-card>

    <h3>{{title}}</h3>

    <div class="table-h">

        <table mat-table [dataSource]="paginatedApps.results">

            <!-- Patient Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>

            <!-- Patient email -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> EMail </th>
                <td mat-cell *matCellDef="let element">
                    {{element.email}}
                </td>
            </ng-container>

            <!-- Clinical Trial -->
            <ng-container matColumnDef="clinicalTrial">
                <th mat-header-cell *matHeaderCellDef> Trial </th>
                <td mat-cell *matCellDef="let element">
                    {{element.clinicalTrial.name}}
                </td>
            </ng-container>

            <!-- Sponsor -->
            <ng-container matColumnDef="sponsor">
                <th mat-header-cell *matHeaderCellDef> Sponsor </th>
                <td mat-cell *matCellDef="let element">
                    <img src="{{imageBaseUrl+element.clinicalTrial.sponsor.logo}}" alt="{{element.clinicalTrial.sponsor.name}}">
                </td>
            </ng-container>

            <!-- Clinical Site -->
            <ng-container matColumnDef="clinicalSite">
                <th mat-header-cell *matHeaderCellDef> Site </th>
                <td mat-cell *matCellDef="let element">
                    {{element.clinicalSite.name}}
                </td>
            </ng-container>

            <!-- Created on date -->
            <ng-container matColumnDef="createdOn">
                <th mat-header-cell *matHeaderCellDef> Created on </th>
                <td mat-cell *matCellDef="let element" >
                    {{element.createdOn}}
                </td>
            </ng-container>

            <!-- View More Button -->
            <ng-container matColumnDef="viewMore" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="viewMorePressed(element.id); false" class="btn btn-default" color="accent"
                        class="btn-block">VIEW</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <mat-paginator [length]="paginatedApps.count" [pageSize]="paginatedApps.query.limit"
        [pageSizeOptions]="[5, 10, 20, 50, 100, 1000]" (page)="changeCurrentPage($event)">
    </mat-paginator>

</mat-card>