<mat-card class="intro-group">

    <h3>{{title}}</h3>

    <div class="table-h">

        <table mat-table matSort
               [dataSource]="paginatedApps.results"
               (matSortChange)="handleSortData($event)"
               [matSortActive]="sortProperty"
               [matSortDirection]="sortDirection"
               matTableExporter
               #exporter="matTableExporter"
        >

            <!-- Patient Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell mat-sort-header  *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>

            <!-- Patient email -->
            <ng-container matColumnDef="email">
                <th mat-header-cell mat-sort-header  *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">
                    {{element.email}}
                </td>
            </ng-container>

            <!-- Patient phone -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell mat-sort-header  *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element">
                    {{element.phone}}
                </td>
            </ng-container>

            <!-- Clinical Trial -->
            <ng-container matColumnDef="clinical_trial">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="reduce-wrapping"> Trial </th>
                <td mat-cell *matCellDef="let element">
                    {{element.clinicalTrial.name}}
                </td>
            </ng-container>

            <!-- Sponsor -->
            <ng-container matColumnDef="sponsor">
                <th mat-header-cell mat-sort-header *matHeaderCellDef > Sponsor </th>
                <td mat-cell *matCellDef="let element">
                    <!-- img does not work on CVS img src="{{imageBaseUrl+element.clinicalTrial.sponsor.logo}}" alt="{{element.clinicalTrial.sponsor.name}}" -->
                    {{element.clinicalTrial.sponsor.name}}
                </td>
            </ng-container>

            <!-- Clinical Site -->
            <ng-container matColumnDef="clinical_site">
                <th mat-header-cell mat-sort-header  *matHeaderCellDef class="reduce-wrapping"> Site </th>
                <td mat-cell *matCellDef="let element">
                    {{element.clinicalSite.name}}
                </td>
            </ng-container>

            <!-- Created on date -->
            <ng-container matColumnDef="created_on">
                <th mat-header-cell mat-sort-header  *matHeaderCellDef> Created on </th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">
                    {{ element.createdOn | date : 'dd/MM/yyyy HH:mm:ss'}}
                </td>
            </ng-container>

            <!-- View More Button -->
            <ng-container matColumnDef="viewMore" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="viewMorePressed(element.id); false" class="btn btn-default" color="accent"
                        class="btn-block">VIEW</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <mat-toolbar>
        <mat-toolbar-row>
            <mat-icon (click)="exporter.exportTable('csv', {fileName: 'application'});" title="Export as CSV">save_alt</mat-icon>
            <span class="flexExpand"></span>
            <mat-paginator
                [length]="paginatedApps.count"
                [pageSize]="paginatedApps.query.limit"
                [pageIndex]="paginatedApps.query.page"
                [pageSizeOptions]="[5, 10, 20, 50, 100, 1000]"
                [showFirstLastButtons]="true"
                (page)="changeCurrentPage($event)">
            </mat-paginator>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- button mat-flat-button (click)="exporter.exportTable('csv', {fileName: 'application.csv'}); false" class="btn btn-default export" class="btn-block">Export CSV</button -->
</mat-card>
