<p>application works!</p>
<ul>
    <li *ngFor="let app of paginatedApps.results">ITER {{app.id}} {{app.name}} </li>
</ul>

<table mat-table [dataSource]="paginatedApps.results">

    <!-- Patient Name -->
    <ng-container matColumnDef="name">
        <th width="33%" mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" style="padding-right: 20px; vertical-align:top;">
            {{element.name}}
        </td>
    </ng-container>

    <!-- Patient email -->
    <ng-container matColumnDef="email">
        <th width="33%" mat-header-cell *matHeaderCellDef> EMail </th>
        <td mat-cell *matCellDef="let element" style="padding-right: 20px; vertical-align:top;">
            {{element.email}}
        </td>
    </ng-container>

    <!-- Created on date -->
    <ng-container matColumnDef="createdOn">
        <th width="33%" mat-header-cell *matHeaderCellDef> Created on </th>
        <td mat-cell *matCellDef="let element" style="padding-right: 20px; vertical-align:top;">
            {{element.createdOn}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'email', 'createdOn']"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator
    [length]="paginatedApps.count"
    [pageSize]="paginatedApps.query.limit"
    [pageSizeOptions]="[10, 20, 50, 100, 1000]"
    (page)="changePage($event)">
</mat-paginator>