<div class="ct-detail">
    
    <div class="breadcrumb">
        <button class="breadcrumb-btn" mat-button (click)="navigateBack()">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 13L1 7L7 1" stroke="#2196F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
            Browse Trials</button>
        <button class="breadcrumb-btn breadcrumb-btn--disable" mat-button disabled> /
            {{ctrName}}
        </button>
    </div>

    <app-application
        [ctrId]="ctrId"
        [title]="title"
        [pageSize]="5"
        [displayedColumns]="['name', 'email', 'created_on', 'viewMore']"></app-application>

    <app-clinicaltrial-detail
        [breadcrumb]="false"
        (clinicalTrialReady)="readyClinicalTrial($event)"></app-clinicaltrial-detail>

</div>