<div style="padding-top: 30px; padding-bottom: 10px; padding-left: 110px; padding-right: 110px;">
    <div>
        <button mat-button style="color:#1A89D0; padding-right: 5px; font-size: medium;" (click)="navigateBack()">&lt;
            Browse Trials</button>
        <button mat-button disabled style="color: darkgrey; font-weight: bold; padding-left: 0px; font-size: medium;"> /
            Review New Trial Details</button>
    </div>
    <p>Please review all trial details and press CONFIRM AND ADD TRIAL.</p>
    <p *ngIf="error" style="color: #E60B2F;">{{ error }}</p>
    <app-clinicaltrial-detail [breadcrumb]="false"></app-clinicaltrial-detail>
    <div style="text-align: right; margin-top: 1em;">
        <button mat-flat-button (click)="onBack(); false"
            style="margin-left: min(15px, 10%); font-size: 14px; margin-right: min(15px, 10%); height: 50px; vertical-align:top;">BACK</button>
        <button mat-flat-button (click)="onSubmit(); false" class="save">CONFIRM AND ADD TRIAL</button>
    </div>
</div>