    <div>
    <mat-card>
        <h2 class="mat-card-title">Filter Criteria</h2>
        <div>
            <mat-form-field
                appearance="fill">
                <mat-label>Conditions</mat-label>
                <mat-select [formControl]="conditionsFilter">
                    <mat-option *ngFor="let conditionFilter of conditionFilters" [value]="conditionFilter">
                        {{conditionFilter.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="conditionsFilter.hasError('required')">Please choose a condition</mat-error>
            </mat-form-field>

            <mat-form-field 
                appearance="fill">
                <mat-label>Location</mat-label>
                <mat-select [formControl]="locationFilter" [errorStateMatcher]="locationMatcher" (ngModelChange)="locationValueChanged($event)">
                    <input [(ngModel)]="locationValue" (keydown)="$event.stopPropagation()" matInput placeholder ="Search location" (keyup)="onKey($event)">
                    <button style="margin-bottom: 10px; float: right;" *ngIf="locationValue" matSuffix mat-icon-button aria-label="Clear" (click)="locationValue=''; this.selectedLocationFilters = this.locationFilters;">
                        <mat-icon>close</mat-icon>
                      </button>
                    <mat-option *ngFor="let locationFilter of selectedLocationFilters" [value]="locationFilter">
                        {{locationFilter.description}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="showLocationErrorMessage">Please choose an location</mat-error>
            </mat-form-field>

            <mat-form-field
                appearance="fill">
                <mat-label>Travel Distance</mat-label>
                <mat-select [formControl]="travelDistanceFilter" [errorStateMatcher]="travelDistanceMatcher" (ngModelChange)="travelDistanceValueChanged($event)">
                    <mat-option *ngFor="let travelDistanceFilter of travelDistanceFilters"
                        [value]="travelDistanceFilter">
                        {{travelDistanceFilter.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="showTravelDistanceErrorMessage">Please choose a travel distance</mat-error>

            </mat-form-field>
            <!-- <mat-label>km</mat-label> -->

            <mat-form-field
                appearance="fill">
                <mat-label>Recruiting Stage</mat-label>
                <mat-select [formControl]="recruitingStageFilter">
                    <mat-option *ngFor="let recruitingStageFilter of recruitingStageFilters"
                        [value]="recruitingStageFilter">
                        {{recruitingStageFilter.description}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="recruitingStageFilter.hasError('required')">Please choose an recurring stage
                </mat-error>
            </mat-form-field>

            &nbsp;
            <button mat-flat-button (click)="searchTrials(); false" class="btn btn-default btn-custom" color="accent" class="btn-block">SEARCH</button>
        </div>
    </mat-card>

    <mat-card>

        <h4 class="mat-message" *ngIf="noDisplayWithoutSearch"><b>{{(clinicalTrialResults?.count) + " clinical trials matching your search were found"}}</b></h4>

        <h2 *ngIf="!noDisplayWithoutSearch">Clinical trials</h2>

        <table mat-table matSort
               [dataSource]="dataSource"
               (matSortChange)="handleSortData($event)"
               [matSortActive]="sortProperty"
               [matSortDirection]="sortDirection"
        >

            <!-- Clinical Trial Name -->
            <ng-container matColumnDef="name">
                <th width="40%" mat-header-cell *matHeaderCellDef mat-sort-header> Clinical Trial Name </th>
                <td class="element-name" mat-cell *matCellDef="let element">
                    {{element.name}}
                    <br>
                    <div class="element-nctnumber"> {{element.nctNumber}} </div>
                </td>
            </ng-container>

            <!-- Clinical Site Location -->
            <ng-container matColumnDef="site_name">
                <th width="30%" mat-header-cell *matHeaderCellDef mat-sort-header> Clincal Site Location </th>
                <td class="element-name" mat-cell *matCellDef="let element">
                    {{element.clinicalSite.address.location.description}}
                    <br>
                    <div class="element-distmiles" *ngIf="element.travDistMiles">
                        {{(element.travDistMiles * 1.60934) | number: '1.2-2'}} km
                    </div>
                </td>
            </ng-container>

            <!-- Sponsor Image -->
            <ng-container matColumnDef="sponsor">
                <th width="15%" mat-header-cell *matHeaderCellDef> Sponsor </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.sponsor}} </td> -->
                <td mat-cell *matCellDef="let element">
                    <img src={{imageBaseUrl+element.sponsor.logo}}>
                </td>
            </ng-container>

            <!-- Learn More Button -->
            <ng-container matColumnDef="learnMore" stickyEnd>
                <th width="15%" mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="text-align: right; justify-content: flex-end;">
                    <button mat-flat-button (click)="learnMorePressed(element.id); false"  class="btn btn-default"
                    color="accent" class="btn-block">LEARN MORE</button>
                </td>
              </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator *ngIf="noDisplayWithoutSearch"  [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="getNext($event)">
        </mat-paginator>


        <div class="dp-custom" *ngIf="!noDisplayWithoutSearch" style="margin: 15px;">
            <!-- <span style="font-size: larger;">ⓘ</span> -->
            <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9167 36.8333C28.8118 36.8333 36.8333 28.8117 36.8333 18.9166C36.8333 9.02157 28.8118 1 18.9167 1C9.02156 1 1 9.02157 1 18.9166C1 28.8117 9.02156 36.8333 18.9167 36.8333Z" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19 26.1667V19" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <rect x="18" y="12" width="2" height="2" rx="1" fill="#818181"/>
            </svg>
            <span style="margin-left: 15px;">Search for trials to find clinical trials matching your search</span>
        </div>

    </mat-card>

</div>
