:host {
  display: block;
}

.wp-group {
  margin-top: 1em;
  padding: 0;
  background-color: #FFFFFF;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  box-shadow: none;
  width: 1100px;
  margin: 2em auto 4em;
}

@media (max-width: 1200px) {
  .wp-group {
    width: 95%;
  }
}

.wp-group .ctrtitle {
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 31px;
  letter-spacing: 0.4px;
  color: #252733;
}

.wp-group hr {
  margin-top: 0;
}

.wp-group .wizard-progress {
  display: flex;
  position: relative;
}

.wp-group .wizard-progress .step {
  font-family: 'Mulish', sans-serif;
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  position: relative;
  flex: 1;
  padding-bottom: 5em;
}

.wp-group .wizard-progress .step span {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp-group .wizard-progress .step:not(:last-child):before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-top: .8em;
  background-color: #DFE0EB;
  height: 3px;
  width: 100%;
}

@media (max-width: 768px) {
  .wp-group .wizard-progress .step:not(:last-child):before {
    margin-top: 3em;
  }
}

.wp-group .wizard-progress .step .node {
  font-family: 'Mulish', sans-serif;
  color: #818181;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.4px;
  border: 3px solid #DFE0EB;
  border-radius: 1.5em;
  height: 41px;
  width: 41px;
  top: 2.5em;
  left: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .wp-group .wizard-progress .step .node {
    margin-top: 2em;
  }
}

.wp-group .wizard-progress .step.complete:before {
  background-color: #26a27d;
}

.wp-group .wizard-progress .step.complete .node {
  color: white;
  border-color: #26a27d;
  background-color: #26a27d;
  overflow: hidden;
}

.wizard-progress .step.complete .node:before {
  content: url("../assets/images/done-steps.svg") !important;
  position: relative;
  padding: 0 2em;
  left: 5px;
  top: 3px;
}

.wizard-progress .step.in-progress .node {
  border-color: #26a27d;
}

.node-clickable {
  cursor: pointer;
}
