:host {
  display: block;
}

.contact-clinical-site-alert .alert-wrapper {
  height: auto !important;
  width: 90vw !important;
  max-width: 370px !important;
  padding: 8px !important;
  margin: 2px !important;
}

.contact-clinical-site-alert .alert-head {
  text-align: center !important;
}

.contact-clinical-site-alert .alert-message {
  margin: 0 3px !important;
  padding: 3px !important;
}

.contact-clinical-site-alert .alert-input-group {
  margin: 0 3px !important;
  padding: 3px !important;
}

.contact-clinical-site-alert .alert-button-group {
  margin: 0 3px !important;
  padding: 7px !important;
}



