<div [formGroup]="form">
    <label [attr.for]="question.localQuestionCode">{{question.question}}</label>
    <mat-slide-toggle>Slide me!</mat-slide-toggle>
    <div [ngSwitch]="question.dataType.code">
  
      <input *ngSwitchCase="'DT'" [formControlName]="question.localQuestionCode"
              [id]="question.localQuestionCode" [type]="'text'">

      <input *ngSwitchDefault [formControlName]="question.localQuestionCode"
              [id]="question.localQuestionCode" [type]="'text'">

    </div>
  
    <div class="errorMessage" *ngIf="!isValid">{{question.localQuestionCode}} is required</div>
  </div>