<mat-card [formGroup]="form" style="margin-top: 1em;">
    <mat-card-header style="display: flex; flex-direction: column; justify-content: flex-start; flex-wrap: wrap;">
        <mat-card-title-group>
            <mat-card-title>{{qt.question}}</mat-card-title>
            <div>Eligibility Criteria&nbsp;<mat-slide-toggle [formControlName]="qt.localQuestionCode+'_k'" (change)="addToCriteriaToggle($event)"></mat-slide-toggle></div>
        </mat-card-title-group>
        <div>Question DataType: {{qt.dataType.description}}</div>
    </mat-card-header>
    <mat-card-content *ngIf="qt.addToCriteria">
        <div>Eligibility Label: TODO</div>
        <div>Eligibility Criteria: <input [formControlName]="qt.localQuestionCode+'_c'" [id]="qt.localQuestionCode+'_c'" [type]="'text'" /></div>
    </mat-card-content>
</mat-card>