<mat-card [formGroup]="form" style="margin-top: 1em;">
    <mat-card-header style="display: flex; flex-direction: column; justify-content: flex-start; flex-wrap: wrap;">
        <mat-card-title-group>
            <mat-card-title>{{qt.question}}</mat-card-title>
            <div>Eligibility Criteria&nbsp;<mat-slide-toggle [formControlName]="qt.localQuestionCode+'_k'" (change)="addToCriteriaToggle($event)"></mat-slide-toggle></div>
            <mat-card-subtitle>Question DataType: {{qt.dataType.description}} {{qt.fCneOptions}}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content *ngIf="qt.fAddToCriteria">
        <mat-form-field  style="width: 100%;">
            <mat-label>Eligibility Criteria Label (optional)</mat-label>
            <input matInput [formControlName]="qt.localQuestionCode+'_l'" [id]="qt.localQuestionCode+'_l'" [type]="'text'" />
        </mat-form-field>
        <mat-form-field [ngSwitch]="qt.fFreeCriteria" style="width: 100%;">
            <mat-label>Eligibility Criteria</mat-label>
            <mat-select *ngSwitchCase="'YN'" [formControlName]="qt.localQuestionCode+'_c'">
                <mat-option [value]="'YN_Y'">Yes - match ; No - no match.</mat-option>
                <mat-option [value]="'YN_N'">No - match ; Yes - no match.</mat-option>
            </mat-select>
            <mat-select *ngSwitchCase="'YNNS'" [formControlName]="qt.localQuestionCode+'_c'">
                <mat-option [value]="'YNNS_YNS'">Yes/Not sure - match ; No - no match.</mat-option>
                <mat-option [value]="'YNNS_NNS'">No/Not sure - match ; Yes - no match.</mat-option>
            </mat-select>
            <input *ngSwitchDefault matInput [formControlName]="qt.localQuestionCode+'_c'" [id]="qt.localQuestionCode+'_c'" [type]="'text'"/>
            <div *ngIf="form.errors && form.errors[qt.localQuestionCode+'_c'] && (form.touched || form.dirty)" style="color: red;">
                Elegibility match Criteria must be specified!
            </div>
        </mat-form-field>
    </mat-card-content>
</mat-card>